version: '3'
services:
  gateway:
    container_name: gateway
    image: docker.io/nginx
    ports:
      - 80:80
    volumes:
      - ./gateway/service.conf:/etc/nginx/conf.d/service.conf
  service:
    container_name: service
    image: docker.io/gradle
    working_dir: /opt/knownhub
    command: gradle run -Pqualifier=RELEASE
    ports:
      - 8080:8080
    volumes:
      - .:/opt/knownhub
