version: '3'
services:
  gateway:
    container_name: gateway
    build:
      context: .
      dockerfile: Dockerfile-gateway
    ports:
      - 80:80
  service:
    container_name: service
    build:
      context: .
      dockerfile: Dockerfile-service
    ports:
      - 8080:8080
